<app-loading *ngIf="loading"></app-loading>
<div class="dialog-header">
    <span class="heading-16">Продукт</span>
    <i class="icon close-icon" (click)="dialogRef.close()"></i>
</div>
<form class="form-body" [formGroup]="fg">
    <mat-form-field>
        <mat-label for="name">Название:</mat-label>
        <input id="name" type="text" formControlName="name" matInput>
    </mat-form-field> 
    <mat-form-field>
        <mat-label for="description">Описание:</mat-label>
        <input  id="description" type="textarea" formControlName="description" matInput>
    </mat-form-field> 
    <mat-form-field>
        <mat-label for="price">Цена:</mat-label>
        <input id="price" type="number" formControlName="price" matInput>
    </mat-form-field>
</form>
<div class="dialog-footer">
    <button 
        class="def-btn green-btn"
        color="primary"
        mat-raised-button
        (click)="save()">
        Сохранить</button>
</div>